.layout {
  width: 85vw;
  margin: 0 auto;
}
section {
  background: $almost-black;
  color: $less-white;
  padding: $xl-size 0;
  height: 100%;
}

.paragraph {
  margin: 2rem 0;
  line-height: 1.75;
  font-size: 1.25rem;
}

.heading {
  @include default-heading(darken($less-white, 5));
}

.heading__dark {
  color: $almost-black;
  @include default-heading($almost-black);
}

@media (min-width: $desktop-breakpoint) {
  .layout {
    width: 60vw;
  }
}
