.banner {
  background: $yellow;
  color: $almost-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $m-size 0;
  color: $almost-black;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: $ltr-spc;
  line-height: 1.5;
  text-align: center;

  a {
    border: 1px solid $almost-black;
    padding: 0 $xs-size;
    margin: $xs-size 0;
    font-weight: 500;
    &:hover {
      color: lighten($almost-black, 5);
    }
  }
}
