.contact__container {
  color: $almost-black;
  padding: $xl-size 0;
  background: $yellow;
  h1 {
    span {
      margin-bottom: $l-size;
    }
  }
  h2 {
    font-weight: 400;
    text-transform: uppercase;
    margin-right: $xl-size;
    padding-top: 0;
  }
  ul {
    line-height: 2;
    li {
      @include flex-row(flex-start);
      align-items: center;

      p,
      a {
        width: 18vw;
        @include flex-row(flex-start);
        letter-spacing: 0.75px;
      }
    }
  }
}

.contact {
  @include flex-col(flex-start);
  width: 85vw;
  margin: 0 auto;
}
//form
.contact__form {
  @include flex-col(center);

  input[type='text'],
  input[type='tel'],
  input[type='email'],
  select,
  textarea {
    margin: 0.25rem;
    padding: $xs-size;
    border-radius: 3px;
    outline: none;
    border: 1px solid $less-black;
    letter-spacing: $ltr-spc;
    line-height: 1.5;
    min-width: 80vw;
    max-width: 80vw;
  }
  input:not(:last-child):focus,
  textarea:focus,
  select:focus {
    border: 1px solid $almost-black;
  }
}

.contact__blurb {
  margin: $m-size 0;
}

.contact__err {
  margin-left: $xs-size;
  height: $xl-size;
  display: flex;
  align-items: center;
  font-weight: bold;

  &.true {
    color: #c93737;
  }

  &.false {
    color: #5b7444;
  }
}

.contact__btn {
  @include orange-btn;
  outline: none;
  border: none;
  font-size: 1rem;
}

.contact__btn:hover {
  background: darken($orangey, 1);
}

.contact__icon {
  font-size: $m-size;
  margin-right: $m-size;
}

@media (min-width: 960px) {
  .contact__container {
    h2 {
      padding-top: 3.5rem;
    }
  }
  .contact {
    @include flex-row(space-evenly);
  }

  .contact__form {
    input[type='text'],
    input[type='tel'],
    input[type='email'],
    select,
    textarea {
      min-width: 500px;
      max-width: 500px;
    }
  }
}
