.services {
  @include flex-col(center);
}

.service {
  line-height: 1.75;
  margin: $s-size;
  width: 220px;
  h3 {
    @include default-heading(darken($less-white, 5));
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-breakpoint) {
  .services {
    @include flex-row(space-evenly);
    align-items: flex-start;
  }
}
