@mixin flex-row($justify) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}

@mixin flex-col($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin button-animation {
  outline: none;
  border: none;
  width: 2.2rem;
  height: 0.35rem;
  background: $almost-black;
  border-radius: 5px;
  box-shadow: -1px 3px 10px 0px rgba(37, 37, 37, 0.21);
}

@mixin orange-btn {
  padding: 0.25rem $s-size;
  background: $orangey;
  color: $less-white;
  border-radius: 50px;
  box-shadow: 0 6px 12px rgba(202, 71, 43, 0.3);
  margin: $xs-size 0;
  font-weight: 300;
  transition: all 0.25s ease;
}

@mixin default-heading($color) {
  @include flex-row(center);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  span {
    border-bottom: 1px solid $color;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
