//COLOURS
$almost-black: #444444;
$less-white: #e9e1e1;
$mid-grey: #d6d5cb;
$less-black: #646464;
$yellow: #f3bd37;
$orangey: #c8562b;

//SPACING
$ltr-spc: 1px;
$xs-size: 0.5rem;
$s-size: 1rem;
$m-size: 1.5rem;
$l-size: 2rem;
$xl-size: 3rem;
$desktop-breakpoint: 50rem;
